<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>it.contrader.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>it.contrader.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>4000</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>AdminUserServlet</servlet-name>
    <servlet-class>it.contrader.servlets.AdminUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserServlet</servlet-name>
    <url-pattern>/AdminUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminRistorantiServlet</servlet-name>
    <servlet-class>it.contrader.servlets.AdminRistorantiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRistorantiServlet</servlet-name>
    <url-pattern>/AdminRistorantiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminOrdiniServlet</servlet-name>
    <servlet-class>it.contrader.servlets.AdminOrdiniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOrdiniServlet</servlet-name>
    <url-pattern>/AdminOrdiniServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>RistoRistoServlet</servlet-name>
    <servlet-class>it.contrader.servlets.RistoRistoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RistoRistoServlet</servlet-name>
    <url-pattern>/RistoRistoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RistoOrdiniServlet</servlet-name>
    <servlet-class>it.contrader.servlets.RistoOrdiniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RistoOrdiniServlet</servlet-name>
    <url-pattern>/RistoOrdiniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RistoProdottiServlet</servlet-name>
    <servlet-class>it.contrader.servlets.RistoProdottiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RistoProdottiServlet</servlet-name>
    <url-pattern>/RistoProdottiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRistoServlet</servlet-name>
    <servlet-class>it.contrader.servlets.UserRistoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRistoServlet</servlet-name>
    <url-pattern>/UserRistoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCarrelloServlet</servlet-name>
    <servlet-class>it.contrader.servlets.UserCarrelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCarrelloServlet</servlet-name>
    <url-pattern>/UserCarrelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>UserOrdiniServlet</servlet-name>
    <servlet-class>it.contrader.servlets.UserOrdiniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserOrdiniServlet</servlet-name>
    <url-pattern>/UserOrdiniServlet</url-pattern>
  </servlet-mapping>
</web-app>